@using Proyect_RaceTrack.ViewModels.VehiculoViewModels;
@model VehiculoDeleteViewModel;

@{
    ViewData["Title"] = "Delete";
}

<h3>Datos del vehiculo a eliminar</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculoNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculoNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculoApellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculoApellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculoTipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculoTipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculoMatricula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculoMatricula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehiculoFabricacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehiculoFabricacion.Year)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VehiculoId" />
        <input type="submit" value="Eliminar vehiculo" class="btn btn-danger" /> 
        <br>
        <br>

        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>
