@using Proyect_RaceTrack.ViewModels.VehiculoViewModels;
@model VehiculoDetailViewModel;

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-4">
    <h1>Detalles del Vehículo</h1>

    <hr />

    <dl class="row">
        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VehiculoNombre)</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VehiculoApellido)</dd>

        <dt class="col-sm-2">Tipo de caroceria</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VehiculoTipo)</dd>

        <dt class="col-sm-2">Matrícula</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VehiculoMatricula)</dd>

        <dt class="col-sm-2">Año de Fabricación</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.VehiculoFabricacion.Year)</dd>
    </dl>

    <div class="mt-3">
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>
