@using Proyect_RaceTrack.ViewModels.VehiculoViewModels;
@model VehiculoIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>Vehículos</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">+ Vehículo</a>
    </p>

    <div class="row">
        <form method="get" asp-action="Index" asp-controller="Vehiculo" class="col-6">
            <div class="form-group">
                <input class="form-control" asp-for="NameFilterVeh" placeholder="Buscar por Tipo de carroceria o Matricula" />
            </div>
            <button class="btn btn-info" type="submit">Buscar</button>
        </form>
    </div>

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.VehiculoNombre)</th>
                <th>@Html.DisplayNameFor(model => model.VehiculoApellido)</th>
                <th>@Html.DisplayNameFor(model => model.VehiculoTipo)</th>
                <th>@Html.DisplayNameFor(model => model.VehiculoMatricula)</th>
                <th>@Html.DisplayNameFor(model => model.VehiculoFabricacion)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.vehiculos)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.VehiculoNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.VehiculoApellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.VehiculoTipo)</td>
                    <td>@Html.DisplayFor(modelItem => item.VehiculoMatricula)</td>
                    <td>@Html.DisplayFor(modelItem => item.VehiculoFabricacion.Year)</td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.VehiculoId" class="btn btn-warning">Modificar</a>
                        <a asp-action="Details" asp-route-id="@item.VehiculoId" class="btn btn-primary">Detalle</a>
                        <a asp-action="Delete" asp-route-id="@item.VehiculoId" class="btn btn-danger"
                            onclick="return confirm('¿Está seguro que quiere eliminar a este vehículo?')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>