@using Proyect_RaceTrack.ViewModels.PilotoViewModels;
@model PilotoIndexViewModel;

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1>Pilotos</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">+ Piloto</a>
    </p>

    <div class="row">
        <form method="get" asp-action="Index" asp-controller="Piloto" class="col-6">
            <div class="form-group">
                <input class="form-control" asp-for="NameFilterIns" placeholder="Buscar por nombre, apellido o DNI" />
            </div>
            <button class="btn btn-info" type="submit">Buscar</button>
        </form>
    </div>

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.PilotoNombre)</th>
                <th>@Html.DisplayNameFor(model => model.PilotoApellido)</th>
                <th>@Html.DisplayNameFor(model => model.PilotoDni)</th>
                <th>@Html.DisplayNameFor(model => model.PilotoNumeroLicencia)</th>
                <th>@Html.DisplayNameFor(model => model.PilotoExpedicion)</th>
                <th>@Html.DisplayNameFor(model => model.PilotoPropietario)</th>
                <th>@Html.DisplayNameFor(model => model.VehiculoId)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.pilotos)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.PilotoNombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.PilotoApellido)</td>
                    <td>@Html.DisplayFor(modelItem => item.PilotoDni)</td>
                    <td>@Html.DisplayFor(modelItem => item.PilotoNumeroLicencia)</td>
                    <td>@item.PilotoExpedicion.ToString("dd/MM/yyyy")</td>
                    <td>@Html.DisplayFor(modelItem => item.PilotoPropietario)</td>
                    <td>@Html.DisplayFor(modelItem => item.Vehiculo.VehiculoTipo)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PilotoId" class="btn btn-warning">Modificar</a>
                        <a asp-action="Details" asp-route-id="@item.PilotoId" class="btn btn-primary">Detalle</a>
                        <a asp-action="Delete" asp-route-id="@item.PilotoId" class="btn btn-danger"
                            onclick="return confirm('¿Está seguro que quiere eliminar a este piloto?')">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>