@using Proyect_RaceTrack.ViewModels.CocheraViewModels;
@model CocheraDeleteViewModel;

@{
    ViewData["Title"] = "Delete";
}



<h3>Datos de la cochera a eliminar</h3>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraSector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraSector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraAptoMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraAptoMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraOficinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraOficinas)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CocheraId" />
        <input type="submit" value="Eliminar Cochera" class="btn btn-danger" /> 
        <br>
        <br>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>
