@model Proyect_RaceTrack.Models.Cochera;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cochera</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraNumero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraNumero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraSector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraSector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraAptoMantenimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraAptoMantenimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CocheraOficinas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CocheraOficinas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pistas)
        </dt>
    </dl>
    <div>
        <ol>
            @foreach (var item in Model.Pistas)
            {
                <li>@item.PistaNombre</li>
            }
        </ol>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CocheraId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
