@using Proyect_RaceTrack.ViewModels.PistaViewModels;
@model PistaDeleteViewModel;

@{
    ViewData["Title"] = "Delete";
}



<h3>Datos de la pista a eliminar:</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaIluminacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaIluminacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaAprovisionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaAprovisionamiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PistaId" />
        <input type="submit" value="Eliminar Pista" class="btn btn-danger" /> 
        <br>
        <br>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </form>
</div>
