@model Proyect_RaceTrack.Models.Pista

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaIluminacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaIluminacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaAprovisionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaAprovisionamiento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PistaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
