@model Proyect_RaceTrack.Models.Pista;

@{
    ViewData["Title"] = "Details";
    var cocheraList = ViewData["Cocheras"];
}




<h1>
    <h1>Detalle de la Pista</h1>
</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaNombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaNombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaCodigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaCodigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaIluminacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaIluminacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PistaAprovisionamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PistaAprovisionamiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cocheras)
        </dt>
    </dl>

    <div>
        <ol>
            @foreach (var item in Model.Cocheras)
            {
                <li>@item.CocheraNombre</li>
            }
        </ol>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
</div>
